footer {
  background: rgb(0, 0, 0);
    }

footer div{
    font-family: Lucida Console, monospace;
    text-align: center;
    color: white;
    display: flexbox;
    padding: 5px;
    font-size: 10px;
}